:host {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 20px;
}

.menu-item {
  display: grid;
  grid-template-columns: auto 1fr auto 30px;
  justify-content: start;
  align-items: end;
  padding: 0 4px;
  column-gap: 12px;

  &__dots {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  }

  &__add {
    button {
      transform: scale(0.7);
    }
  }
}
