<h1>2. Make your order, press on the + sign near the dish you would like to order</h1>

<div class="order">
  <div class="order__item" *ngFor="let orderItem of currentOrder.orderItems">
    <div class="order__item__name">
      {{orderItem.name}}
    </div>
    <div class="order__item__dashed"></div>
    <div class="order__item__cost">
      {{orderItem.cost | currency}}
    </div>
    <div class="order__item__delete" matTooltip="Delete {{orderItem.name}}">
      <mat-icon (click)="removeOrderItem(orderItem)">delete</mat-icon>
    </div>
  </div>
</div>


<div class="totalCost">
  <h2> Your total cost so far:
    <span class="totalCost__sum">{{getTotal() | currency}}</span>
  </h2>

</div>



<div class="approve">
  <button mat-raised-button color="primary" (click)="insertOrderEmitter(currentOrder)">Order</button>
  <button mat-raised-button color="accent" [routerLink]="['/orders']">Discard</button>
</div>
